.header {
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}

.navigation {
  display: flex;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  transition: color 0.3s ease-out;
  transition: border 0.3s ease-out;
}

.link:hover {
  color: white;
  border: 1px solid white;
}