.header {
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.navigation {
  display: flex;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  transition: color 0.3s ease-out;
}

.link:hover {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.linkWrapper {
  display: flex;
}

@media print {
  .header { display: none !important;}
}