.skill_header {
  width: 250px;
}

.list {
  margin-bottom: 20px;
  justify-self: center;
}

@media (min-width: 768px) {
  .list {
    justify-self: start;
  }
}

@media (min-width: 992px) {
  .list {
    width: 160px;
  }
}
