.anchor {
  width: 30px;
}

.anchor:hover {
  cursor: pointer;
}

.card {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}

.image_wrapper {
  border-radius: 5px;
  margin-bottom: 18px;
  overflow: hidden;
}
