.hero {
  background: linear-gradient(
    90deg,
    rgba(215, 0, 113, 1) 20%,
    rgba(156, 78, 151, 1) 50%,
    rgba(0, 53, 170, 1) 80%
  );
  height: 60vh;
}

.hero_body {
  display: none;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 1vw;
  width: 80vw;
}




@media (min-width: 768px ) {
  .hero_body {
    display: inline;
  }

  .text {
    margin-left: 5vw;
    width: 60vw;
  }
}

@media (min-width: 992px) {
  .text {
    margin-left: 10vw;
    width: 40vw;
  }
}
