.skills {
  margin: 0 auto;
  margin-bottom: 40px;
}

.skills_grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.skills_header {
  margin-bottom: 0px;
}

@media (min-width: 576px) {
  .skills_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .skills {
    max-width: 90vw;
  }
  .skills_grid {
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
  }
}

@media (min-width: 992px) {
  .skills {
    width: 80vw;
  }
  .skills_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80vw;
  }
}
