.skills {
  margin: 0 auto;
}

.skills_grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media (min-width: 576px) {
  .skills_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 768px) {
  .skills {
    max-width: 90vw;
  }
  .skills_grid {
    max-width: 90vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .skills {
    max-width: 80vw;
  }
  .skills_grid {
    max-width: 80vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}