.page {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.projects {
  text-align: left;
}

.contact {
  background-color: blue;
  color: white;
  text-align: right;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.experience {
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}