.squareText {
  color: #9f4b94;
  font-size: 46px;
}

.squareWrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.squareWrapper:hover {
  background: #8d1b1f;
}

@media (min-width: 576px) {
  .squareWrapper {
    height: 90px;
  }
}

@media (min-width: 768px) {
  .squareWrapper {
    height: 150px;
  }
}
