.button {
  margin: 5px;
  padding: 2px;
  width: 150px;
}

.gameGrid {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
  margin-bottom: 20px;
}

.gameOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 80vw;
}



.ticHeader {
  font-size: 32px;
  padding: 10px;
}

#buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
}

#setupBox {
  display: flex;
}




#subText {
  color: gray;
  font-size: 18px;
  margin: 0px;
}




@media (min-width: 768px) {
  .gameWrapper {
    max-width: 40vw;
  }
  #button-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .gameWrapper {
    max-width: 30vw;
  }
}
