.projects {
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 60px;
}

@media (min-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .projects {
    max-width: 90vw;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .projects {
    max-width: 80vw;
  }
}
