.projects {
  margin-bottom: 60px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
